<div class="usajobs-joa-intro usajobs-joa-intro--pilot">
  <div class="usajobs-joa-intro__container usajobs-joa-intro--pilot__container">
    {% include components/joa/usds/cx/summary.html %}
  </div>
</div>
<aside class="usajobs-joa-pilot__aside">
  {% include components/joa/usds/cx/actions.html variation="narrow" %}
  {% include components/joa/usds/cx/overview.html %}
  {% include components/joa/usds/cx/locations.html %}
  {% include components/joa/usds/cx/help.html %}
  {% include components/joa/usds/cx/numbers.html variation="narrow" %}
</aside>
