<div id="qualifications" class="usajobs-joa-section usajobs-joa-section--pilot" itemprop="qualifications">
  <h2 class="usajobs-joa-section--pilot__header">Qualifications</h2>
  <p>
    {{ job.QualificationSummary }}
  </p>
  <ul class="usajobs-list-bullets">
    {% for competency in job.UserArea.Details.KeyRequirements %}
    <li>{{ competency }}</li>
    {% endfor %}
  </ul>
  <strong>General Schedule pay scale - Grade Levels</strong>
  <p>
    Not all agencies may be hiring at all grade levels. Thus when you apply please select the lowest grade level you are willing to accept.
  </p>
  <p>
    <strong>GS 13 ($102,663 - $133,465):</strong> To quality for the GS 13 level, your resume and portfolio will show at least one year experience participating in CX strategy, using diverse CX measurement tools to define and implement CX projects, and have demonstrated experience implementing design methods despite changing circumstances and stakeholders with diverse priorities.
  </p>
  <p>
    <strong>GS 14 ($121,316 - $157,709):</strong> To quality for the GS 14 level, your resume and portfolio will show at least one year experience showing you can work across silos to successfully deliver quantifiable impact, that you’ve led and advised leadership on CX strategy, implemented projects in an agile way through the entire lifecycle with a focus on CX measurement metrics, and have been recognized as an expert on design methods.
  </p>
  <p>
    <strong>GS 15 ($142,701 - $170,800):</strong> To quality for the GS 15 level, in addition to what is described at the 14 level, your resume and portfolio will show at least one year experience leading organizations and building teams to drive multiple CX initiatives across organizational silos. You have extensive experience using customer data and user research to drive your organization to become more customer focused.
  </p>
  <strong>Get answers to questions about this process and position</strong>
  <p>
    To address questions about the application process and requirements, we will hold two optional conference calls before the application period for this position:
  </p>
  <ol>
    <li>March 16th at 2pm EST. Dial-in: 1-877-369-5243, passcode: 0119142#
    <li>March 16th at 8pm EST. Dial-in: 1-877-369-5243, passcode: 0961308#
  </ol>
  <strong>What to expect when</strong>
  <ul>
    <li><strong>Prior to March 25th:</strong> Create a USAJOBS Profile, and upload your documents (e.g., resume, design portfolio).</li>
    <li><strong>March 25th</strong>: Job posting opens – apply on this date as the posting will close on the first day we reach 200 applications.</li>
    <li><strong>Mid-April</strong>: First round interviews (30 minute phone calls)</li>
    <li><strong>Late-April</strong>: Second round interviews  (1 hour phone calls)</li>
    <li><strong>May</strong>: Agency-specific interviews with qualifying applicants</li>
    <li><strong>Mid-Late May</strong>: Offers made</li>
  </ul>
  {% include components/joa/usds/doi/this-job-is-open-to.html %}
</div>
