<div id="qualifications" class="usajobs-joa-section usajobs-joa-section--pilot" itemprop="qualifications">
  <h2 class="usajobs-joa-section--pilot__header">Qualifications</h2>
  <p>
    {{ job.QualificationSummary }}
  </p>
  <ul class="usajobs-list-bullets">
    {% for competency in job.UserArea.Details.KeyRequirements %}
    <li>{{ competency }}</li>
    {% endfor %}
  </ul>
  <h4>General Schedule pay scale - Grade Levels</h4>
  <p>
    Not all agencies may be hiring at all grade levels. Thus when you apply please select the lowest grade level you are willing to accept.
  </p>
  <p>
    <strong>GS 13 ($78,687 - $99,691):</strong> To quality for the GS 13 level, your resume and portfolio will show at least one year experience participating in CX strategy, using diverse CX measurement tools to define and implement CX projects, and have demonstrated experience implementing design methods despite changing circumstances and stakeholders with diverse priorities.
  </p>
  <p>
    <strong>GS 14 ($90,621 - $117,810):</strong> To quality for the GS 14 level, your resume and portfolio will show at least one year experience showing you can work across silos to successfully deliver quantifiable impact, that you’ve led and advised leadership on CX strategy, implemented projects in an agile way through the entire lifecycle with a focus on CX measurement metrics, and have been recognized as an expert on design methods.
  </p>
  <p>
    <strong>GS 15 ($106,595 - $138,572):</strong> To quality for the GS 15 level, in addition to what is described at the 14 level, your resume and portfolio will show at least one year experience leading organizations and building teams to drive multiple CX initiatives across organizational silos. You have extensive experience using customer data and user research to drive your organization to become more customer focused.
  </p>
  {% include components/joa/usds/doi/this-job-is-open-to.html %}
</div>
